@import '../../utils/variables.scss';

#tags {
  max-width: 1000px;
  margin: 100px auto 0;

  .tag-list-wrap {
    margin-bottom: 5rem;

    @media screen and (max-width: $break-s) {
      margin-bottom: 3rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      margin-top: 50px;

      li {
        display: flex;
        align-items: center;
        margin: 0.1rem 0.5rem;
        list-style: none;

        @media screen and (max-width: $break-s) {
          margin: 0 0.4rem;
        }

        a {color: #f87325; font-weight: 600;}
        a:visited {color: #f87325;}

        span {
          cursor: pointer;
          opacity: 0.5;
          &:hover {
            opacity: 0.9 !important;
            color: #f87325;
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .post-list {
    margin: 100px auto 0;
  }
}
