@import '../../utils/variables.scss';

.post-list {
  max-width: 900px;

  @media screen and (max-width: $break-m) {
    max-width: 700px;
  }

  ul,
  li,
  h2 {
    margin: 0;
  }

  li {
    list-style: none;
    *:last-child {
      word-break: keep-all;
    }
  }

  .post {
    display: flex;
    flex-direction: column;
    max-width: inherit;
    margin: 0rem 1rem;
    opacity: 0.85;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    &.hide {
      display: none;
    }

    &:nth-child(1) {
      margin-top: 0;
    }

    &>*>* {
      margin-bottom: 0.25rem;

      @media screen and (max-width: $break-m) {
        margin-bottom: 0.2rem;
      }

      @media screen and (max-width: $break-s) {
        margin-bottom: 0.1rem;
      }
    }

    .underline {
      display: inline-flex;
      border-bottom: 1px solid $cdd;
      padding: 30px;
      padding-top: 40px;

      @media screen and (max-width: $break-s) {
        padding: 16px 0;
        padding-top: 24px;
      }
    }

    article {
      position: relative;
    }

    .cover {
      @media screen and (max-width: $break-m) {
        min-height: 200px;
      }
      @media screen and (max-width: $break-s) {
        width: auto;
        min-height: 100px;
        border: 0;
        padding: 0;
        display: inline-flex;
      }

      @media screen and (max-width: 320px) {
        width: 80px;
        min-height: 200px;
      }

      img {
        min-height: 200px;
        @media screen and (max-width: $break-m) {
          max-width: 100px;
          min-height: 100px;
        }
      }
    }

    .info-box {
      margin-left: 24px;
      margin-top: 16px;

      @media screen and (max-width: $break-m) {
        margin-top: 4px;
        margin-left: 16px;
      }
      
      @media screen and (max-width: $break-s) {
        width: 80%;
      }

      @media screen and (max-width: 375px) {
        width: 225px;
      }

      .title {
        font-size: 1.15rem;

        @media screen and (max-width: $break-m) {
          font-size: 1rem;
          line-height: 28px;
        }

        @media screen and (max-width: $break-s) {
          font-size: 0.75rem;
          line-height: 20px;
        }
      }

      .info {
        display: flex;
        font-size: 0.84rem;
        align-items: flex-start;

        @media screen and (max-width: $break-m) {
          font-size: 0.7rem;
        }

        @media screen and (max-width: $break-s) {
          font-size: 0.84rem;
          margin-top: 8px;
        }

        .date-wrap {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          opacity: 0.7;
          position: relative;

          .date,
          .update {
            display: block;
            white-space: nowrap;
          }

          .update {
            .line {
              margin: 0 20px;
              border-left-style: dotted;
              border-left: 1px solid;

              @media screen and (max-width: $break-s) {
                margin: 0 10px;
              }
            }
          }

        }

        .post-list-title {
          color: $c82;
          margin-right: 16px;
          font-weight: bold;

          @media screen and (max-width: $break-s) {
            margin-right: 5px;
            font-size: 0.75rem;
          }

          li {
            display: flex;
            padding: 2px;
            padding-top: 0;
            
            @media screen and (max-width: $break-s) {
              padding: 0;
              padding-bottom: 4px;
            }
            .sub-title {
              width: 50px;
              margin:0;
              @media screen and (max-width: $break-s) {
                width: 40px;
              }
            }
          }
        }

        .info-dot {
          margin: 0 0.25rem;
        }
      }

      .tag-list {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;


        @media screen and (max-width: $break-s) {
          width: 200px;
        }

        li:nth-of-type(8)~li {
          display: none;
        }
        li:nth-of-type(6)~li {
          @media screen and (max-width: $break-s) {
            display: none;
          }
        }
        .tag {
          margin: 0;
          margin-right: 0.5rem;

          span>a {
            opacity: 0.7;
            transition: opacity 0.2s;

            &:hover {
              opacity: 1;
            }
          }

          @media screen and (max-width: $break-s) {
            margin: 0;
            margin-right: 5px;
            font-size: 0.75rem;
          }
        }
      }

      .excerpt {
        margin: 10px 0;
        display: -webkit-box;
        overflow: hidden;
        max-width: 650px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 0.9rem; //0.95rem
        opacity: 0.5;

        @media screen and (max-width: $break-m) {
          font-size: 0.82rem;
          max-width: 550px;
        }

        @media screen and (max-width: $break-s) {
          margin: 5px 0;
          display: none;
        }
      }
    }
  }
}